{"openapi":"3.1.0","info":{"title":"Adaptyv Foundry API","description":"\nThe Foundry API enables programmatic access to Adaptyv Bio's protein characterization services.\n\n## Getting Started\n\n1. **Obtain an API token** from the [Adaptyv Portal](https://foundry.adaptyvbio.com) or by\n   contacting Adaptyv directly\n2. **Authenticate requests** using Bearer token in the Authorization header\n3. **Create experiments** to submit protein sequences for characterization\n4. **Monitor status** via webhooks or polling the experiment detail endpoint\n\n## Authentication\n\nAll requests require a Bearer token:\n\n```\nAuthorization: Bearer <your-token>\n```\n\nTokens can be attenuated (restricted) to specific organizations or capabilities via the `/tokens` endpoint.\n\n## Pagination\n\nList endpoints support offset-based pagination:\n\n| Parameter | Description | Default |\n|-----------|-------------|---------|\n| `limit` | Maximum items per page | 50 |\n| `offset` | Number of items to skip | 0 |\n\n## Filtering\n\nMost list endpoints support filtering via query parameters using comparison operators:\n\n- `equ(field)=value` — equals\n- `geq(field)=value` — greater than or equal\n- `gtr(field)=value` — greater than\n- `leq(field)=value` — less than or equal\n- `lss(field)=value` — less than\n\nExample: `GET /experiments?geq(created_at)=2025-01-01&status=draft`\n\n## Environments\n\n| Environment | Base URL |\n|-------------|----------|\n| Production | `https://devs.adaptyvbio.com` |\n\n## Support\n\n- **Email**: support@adaptyvbio.com\n- **Documentation**: [docs.adaptyvbio.com](https://docs.adaptyvbio.com)\n","version":"0.0.2"},"servers":[{"url":"https://devs.adaptyvbio.com/","description":"Production API (Public)"}],"paths":{"/api/v1/experiments":{"get":{"tags":["experiments"],"summary":"List experiments","description":"Lists experiments accessible to the caller, sorted by creation date\n(newest first). Experiments progress from submission through review,\nproduction, and analysis until results are available.\n\nThe response includes only experiments within the caller's organization\nscope. Filter by `status` for specific workflow stages, by `state` for\nbroader groupings, or by `search` for name/code substring matches.\nDate operators (`lte`, `gte`, `lt`, `gt`, `eq`) accept ISO 8601 dates\nor timestamps via `filter=` s-expression. Paginate with `limit` and\n`offset`; fetch pages until fewer than `limit` items return.","operationId":"list_experiments","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Free-text search term applied to searchable columns.","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Experiment list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Experiment record returned by the list endpoint.","required":["id","code","status","created_at","results_status","experiment_url"],"properties":{"code":{"type":"string","description":"Unique experiment code (e.g., \"EXP-2024-001\")"},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of experiment creation"},"experiment_type":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/ExperimentType","description":"Experiment discriminator from the spec"}]},"experiment_url":{"type":"string","description":"URL to view the experiment in the Foundry portal"},"id":{"type":"string","format":"uuid","description":"Unique identifier for the experiment"},"name":{"type":["string","null"],"description":"Human-readable name for the experiment (nullable in database)"},"results_status":{"$ref":"#/components/schemas/ResultsStatus","description":"Indicates whether results are available for this experiment"},"status":{"$ref":"#/components/schemas/ExperimentStatus","description":"Current lifecycle status of the experiment"},"stripe_invoice_url":{"type":["string","null"],"description":"Invoice URL (not populated in list/detail responses; use the dedicated invoice endpoint)."},"stripe_quote_url":{"type":["string","null"],"description":"Quote reference URL (may require provider account access)."}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"400":{"description":"Invalid experiment_type filter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions to list experiments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["experiments"],"summary":"Create experiment","description":"Creates a new experiment request for the Adaptyv Foundry platform.\n\nThe payload captures the target (from the catalog), antibody sequences,\nreplicate plan, assay parameters, optional metadata, and an optional webhook\nfor notifications. By default, experiments are created\nin Draft status so clients can review inputs before submission.\n\nSet `skip_draft: true` to bypass Draft status and submit directly for processing.\nThis is useful for automated pipelines with pre-validated payloads that\ndon't require manual review. The experiment will be created in\n\"Waiting for confirmation\" status instead of Draft.\n\nAPI-originated experiments are automatically assigned to the organization's\nAPI submissions project for traceability.\n\n# ExperimentSpec fields\n\nValidation is strict: fields that are not applicable to a given experiment\ntype (e.g., `method` on a non-binding type) cause a 400 rejection. Multiple\nvalidation errors are accumulated and returned together so callers can fix\neverything in one round-trip.\n\n| Field | Type | Description |\n|-------|------|-------------|\n| `experiment_type` | string | **Required.** One of `affinity`, `screening`, `thermostability`, `fluorescence`, `expression`, `epitope_binning`, `enzyme_activity`. |\n| `method` | string | Required for `affinity`/`screening` (`bli` or `spr`). **Rejected** for all other types. |\n| `target_id` | string | Target UUID from the catalog. Required for `affinity`, `screening`, and `epitope_binning`. **Rejected** for non-binding types. |\n| `sequences` | object | **Required.** Map of sequence name to amino acid string. `epitope_binning` requires exactly 4-28 sequences in multiples of 4. |\n| `n_replicates` | integer | Optional for most types (default 3, range 1-5). **Rejected** for `epitope_binning`. |\n| `antigen_concentrations` | array | `affinity` only; optional, defaults to `[1000.0, 316.2, 100.0, 31.6, 0.0]` nM. |\n| `parameters` | object | Optional. Experiment-specific settings |\n\n# Sequence Formats\n\nThe `sequences` field accepts two formats:\n\n**Simple format** — amino acid string only:\n```json\n\"sequences\": {\n  \"seq1\": \"EVQLVESGGGLVQPGGSLRLSCAAS\"\n}\n```\n\n**Object format** — with metadata:\n```json\n\"sequences\": {\n  \"seq1\": {\n    \"aa_string\": \"EVQLVESGGGLVQPGGSLRLSCAAS\",\n    \"control\": false,\n    \"metadata\": { \"type\": \"scfv\", \"tag_location\": \"C\" }\n  }\n}\n```\n\n# Example: Affinity (BLI)\n\nFull kinetic characterization measuring on/off rates and KD.\nTarget ID `019a03da-b87f-7e15-8b02-cef171c9871d` is Human PD-L1 from the catalog.\n\n```json\n{\n  \"name\": \"PD-L1 affinity panel\",\n  \"experiment_spec\": {\n    \"experiment_type\": \"affinity\",\n    \"method\": \"bli\",\n    \"target_id\": \"019a03da-b87f-7e15-8b02-cef171c9871d\",\n    \"sequences\": {\n      \"pembrolizumab_vh\": \"QVQLVQSGVEVKKPGASVKVSCKASGYTFTNYYMYWVRQAPGQGLEWMGGINPSNGGTNFNEKFKNRVTLTTDSSTTTAYMELKSLQFDDTAVYYCARRDYRFDMGFDYWGQGTTVTVSS\",\n      \"pembrolizumab_vl\": \"EIVLTQSPATLSLSPGERATLSCRASKGVSTSGYSYLHWYQQKPGQAPRLLIYLASYLESGVPARFSGSGSGTDFTLTISSLEPEDFAVYYCQHSRDLPLTFGGGTKVEIK\"\n    },\n    \"n_replicates\": 3,\n    \"antigen_concentrations\": [1000.0, 316.2, 100.0, 31.6, 0.0]\n  },\n  \"webhook_url\": \"https://example.com/webhook\"\n}\n```\n\n# Example: Screening (SPR)\n\nHigh-throughput yes/no binding assessment using SPR.\n\n```json\n{\n  \"name\": \"Library screening round 1\",\n  \"experiment_spec\": {\n    \"experiment_type\": \"screening\",\n    \"method\": \"spr\",\n    \"target_id\": \"019a03da-b87f-7e15-8b02-cef171c9871d\",\n    \"sequences\": {\n      \"clone_A1\": \"EVQLVESGGGLVQPGGSLRLSCAASGFTFSSYAMSWVRQAPGKGLEWVSAISGSGGSTYYADSVKGRFTISRDNSKNTLYLQMNSLRAEDTAVYYCAKDRLSITIRPRYYGLDVWGQGTLVTVSS\",\n      \"clone_A2\": \"QVQLVQSGAEVKKPGASVKVSCKASGYTFTSYGISWVRQAPGQGLEWMGWISAYNGNTNYAQKLQGRVTMTTDTSTSTAYMELRSLRSDDTAVYYCARDVGYCTDYSCYFDYWGQGTLVTVSS\",\n      \"clone_A3\": \"EVQLLESGGGLVQPGGSLRLSCAASGFTFSTYAMSWVRQAPGKGLEWVSSISSGGSYIYYADSVKGRFTISRDNAKNSLYLQMNSLRAEDTAVYYCARRPWGYYALDIWGQGTTVTVSS\"\n    },\n    \"n_replicates\": 2\n  }\n}\n```\n\n# Example: Thermostability\n\nMeasures melting temperature (Tm) via differential scanning fluorimetry.\nNo target required.\n\n```json\n{\n  \"name\": \"Lead candidates stability\",\n  \"experiment_spec\": {\n    \"experiment_type\": \"thermostability\",\n    \"sequences\": {\n      \"candidate_1\": \"QVQLVQSGAEVKKPGASVKVSCKASGYTFTSYAMHWVRQAPGQRLEWMGWINAGNGNTKYSQKFQGRVTITRDTSASTAYMELSSLRSEDTAVYYCARAKFGATGAFDIWGQGTMVTVSS\",\n      \"candidate_2\": \"EVQLVESGGGLVQPGGSLRLSCAASGFNIKDTYIHWVRQAPGKGLEWVARIYPTNGYTRYADSVKGRFTISADTSKNTAYLQMNSLRAEDTAVYYCSRWGGDGFYAMDYWGQGTLVTVSS\"\n    },\n    \"n_replicates\": 3,\n    \"parameters\": {\n      \"buffer\": \"PBS\",\n      \"ph\": 7.4\n    }\n  }\n}\n```\n\n# Example: Fluorescence\n\nFluorescence-based protein characterization measuring intrinsic properties.\nNo target required.\n\n```json\n{\n  \"name\": \"Fluorescence characterization\",\n  \"experiment_spec\": {\n    \"experiment_type\": \"fluorescence\",\n    \"sequences\": {\n      \"variant_1\": \"QVQLVQSGAEVKKPGASVKVSCKASGYTFTSYDINWVRQATGQGLEWMGWMNPNSGNTGYAQKFQGRVTMTRDTSISTAYMELRSLRSDDTAVYYCARGGFYGSTIWFDYWGQGTLVTVSS\",\n      \"variant_2\": \"EVQLVESGGGLVQPGGSLRLSCAASGFTFSSYWMSWVRQAPGKGLEWVANIKQDGSEKYYVDSVKGRFTISRDNAKNSLYLQMNSLRAEDTAVYYCARDRYGNYVDYWGQGTLVTVSS\"\n    },\n    \"n_replicates\": 3\n  }\n}\n```\n\n# Example: Expression\n\nProtein expression screening measuring yield and quality.\nNo target required.\n\n```json\n{\n  \"name\": \"Expression screening\",\n  \"experiment_spec\": {\n    \"experiment_type\": \"expression\",\n    \"sequences\": {\n      \"construct_A\": \"QVQLVQSGAEVKKPGASVKVSCKASGYTFTSYGISWVRQAPGQGLEWMGWISAYNGNTNYAQKLQGRVTMTTDTSTSTAYMELRSLRSDDTAVYYCARDVGYCTDYSCYFDYWGQGTLVTVSS\",\n      \"construct_B\": \"EVQLVESGGGLVQPGGSLRLSCAASGFNIKDTYIHWVRQAPGKGLEWVARIYPTNGYTRYADSVKGRFTISADTSKNTAYLQMNSLRAEDTAVYYCSRWGGDGFYAMDYWGQGTLVTVSS\"\n    },\n    \"n_replicates\": 2\n  }\n}\n```\n\n# Example: With skip_draft=true (Auto-Submit)\n\nBypass Draft status and submit directly for processing:\n\n```json\n{\n  \"name\": \"Pre-validated batch\",\n  \"skip_draft\": true,\n  \"experiment_spec\": {\n    \"experiment_type\": \"thermostability\",\n    \"sequences\": {\n      \"seq1\": \"EVQLVESGGGLVQPGGSLRLSCAASGFTFSSYAMSWVRQAPGKGLEWVSAISGSGGSTYYADSVKGRFTISRDNSKNTLYLQMNSLRAEDTAVYYCAKDRLSITIRPRYYGLDVWGQGTLVTVSS\"\n    },\n    \"n_replicates\": 2\n  }\n}\n```","operationId":"create_exp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExpRequest"}}},"required":true},"responses":{"201":{"description":"Experiment created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateExpResponse"}}}},"400":{"description":"Invalid request parameters (e.g. malformed target_id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"target_id references a target that is not in the catalog","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"415":{"description":"Unsupported media type — the request body must be sent as application/json","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request body (well-formed JSON that fails semantic validation, e.g. an invalid amino-acid sequence)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/experiments/cost-estimate":{"post":{"tags":["experiments"],"summary":"Estimate experiment cost","description":"Calculates the estimated cost for an experiment without creating it.\nUseful for previewing costs before submission.\n\n# Request Body\n\nAccepts an `experiment_spec` matching the creation endpoint format:\n\n```json\n{\n  \"experiment_spec\": {\n    \"experiment_type\": \"screening\",\n    \"method\": \"bli\",\n    \"target_id\": \"019a03da-b87f-7e15-8b02-cef171c9871d\",\n    \"sequences\": {\n      \"seq1\": \"MKTL...\",\n      \"seq2\": \"EVQL...\"\n    },\n    \"n_replicates\": 3\n  }\n}\n```\n\n# Response\n\nReturns a detailed cost breakdown including:\n- `pricing_version`: The pricing rules applied (e.g., \"v1_2026-01-20\")\n- `assay`: Per-experiment-type costs with base and replicate pricing\n- `materials`: Target material costs (for binding experiments)\n- `total_cents`: Sum of all costs in USD cents\n\n# Complete Estimate Response\n\nWhen the target has self-service pricing:\n```json\n{\n  \"breakdown\": {\n    \"pricing_version\": \"v1_2026-01-20\",\n    \"assay\": { \"name\": \"screening\", \"base_cents\": 14900, \"replicate_addon_cents\": 5800, \"subtotal_cents\": 103500 },\n    \"materials\": { \"target\": { \"name\": \"Human PD-L1\", \"target_catalog_id\": \"019a03da-b87f-7e15-8b02-cef171c9871d\" }, \"price_per_sequence_cents\": 500, \"subtotal_cents\": 2500 },\n    \"total_cents\": 106000\n  },\n  \"incomplete\": null,\n  \"warnings\": []\n}\n```\n\n# Incomplete Estimate Response\n\nWhen the target lacks self-service pricing (e.g., custom proteins), you'll\nreceive an incomplete estimate with assay costs but `materials_unavailable`:\n```json\n{\n  \"breakdown\": null,\n  \"incomplete\": {\n    \"pricing_version\": \"v1_2026-01-20\",\n    \"assay\": { \"name\": \"screening\", \"base_cents\": 14900, \"replicate_addon_cents\": 5800, \"subtotal_cents\": 103500 },\n    \"materials_unavailable\": {\n      \"target\": { \"name\": \"This target\", \"target_catalog_id\": \"aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee\" },\n      \"reason\": \"This target is not yet onboarded to self-service pricing. You'll receive a quote with full price information.\"\n    }\n  },\n  \"warnings\": []\n}\n```\n\nUse `GET /targets?selfservice_only=true` to list targets with complete pricing.\n\n# Notes\n\n- **All prices exclude VAT**; taxes calculated at invoicing based on jurisdiction\n- Requires authentication with experiment read permission\n- Does not create an experiment\n- Pricing is based on the current date (not a future experiment date)\n- Targets without self-service pricing return incomplete estimates (not errors)\n- Experiments created before pricing v1 (2026-01-20) cannot be estimated","operationId":"cost_estimate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostEstimateRequest"}}},"required":true},"responses":{"200":{"description":"Cost estimate calculated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostEstimateResponse"}}}},"400":{"description":"Invalid experiment specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Pricing unavailable (unknown target or pre-v1 date)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-required-action":"Read"}},"/api/v1/experiments/{experiment_id}":{"get":{"tags":["experiments"],"summary":"Get experiment","description":"Returns full metadata for an experiment: workflow status, target and\nsequence details, assay parameters, and billing references.\n\nPoll this endpoint to track progress. When `stripe_quote_url` appears,\nfetch quote details via `/experiments/{id}/quote`. After confirmation,\n`stripe_invoice_url` provides a direct link to the invoice. The `results_status` field\nsignals data availability: `None` (pending), `Partial` (preliminary),\nor `All` (complete). Query `/results` filtered by experiment to retrieve\ndata once results are available.","operationId":"get_exp_info","parameters":[{"name":"experiment_id","in":"path","description":"Unique experiment request identifier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Experiment details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpInfo"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Experiment not found or access denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["experiments"],"summary":"Update experiment","description":"Modify an existing experiment's configuration or status.\n\nUpdates experiment metadata or inputs. Only experiments in Draft or InReview\nstatus can be modified; attempts on later statuses return 409 Conflict.","operationId":"modify_exp","parameters":[{"name":"experiment_id","in":"path","description":"Unique experiment request identifier to modify","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyExpRequest"}}},"required":true},"responses":{"200":{"description":"Experiment modified successfully or no action taken (e.g., already fulfilled)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyExpResponse"}}}},"400":{"description":"Invalid modification request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Experiment request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Modification not allowed (e.g., request already fulfilled)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/experiments/{experiment_id}/invoice":{"get":{"tags":["experiments"],"summary":"Get experiment invoice","description":"Returns invoice metadata for a confirmed experiment, including the\nhosted payment URL. Available once `stripe_invoice_url` appears in the\nexperiment detail; timing depends on organization billing settings.","operationId":"get_invoice_metadata","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Stripe invoice metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentInvoiceResponse"}}}},"400":{"description":"Unknown or inaccessible experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Caller does not have access to this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Invoice not yet available for this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/experiments/{experiment_id}/quote":{"get":{"tags":["experiments"],"summary":"Get experiment quote","description":"Returns quote metadata: totals, currency, status, and expiration.\nAvailable once `stripe_quote_id` appears in the experiment detail.\nThe `expires_at` field shows when the quote expires if not confirmed.","operationId":"get_quote_metadata","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Quote metadata retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentQuoteResponse"}}}},"400":{"description":"Unknown or inaccessible experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Caller does not have access to this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"No quote exists yet for this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/experiments/{experiment_id}/quote/confirm":{"post":{"tags":["experiments"],"summary":"Accept an experiment's quote and create an invoice","description":"Convenience endpoint that does the same thing as `POST /quotes/{id}/confirm`\nbut addressed by experiment ID — the server resolves the quote ID internally.\nAccepts the Stripe quote, creates a draft invoice, and transitions the\nexperiment to WaitingForMaterials.","operationId":"confirm_experiment_quote","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmQuoteRequest"}}},"required":true},"responses":{"200":{"description":"Quote accepted, invoice created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmQuoteResponse"}}}},"400":{"description":"Unknown or inaccessible experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Caller does not have access to this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Quote not yet created for this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Quote cannot be accepted (wrong status or already invoiced)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"415":{"description":"Unsupported media type — the request body must be sent as application/json","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable request body (well-formed JSON that fails semantic validation)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-required-action":"Update"}},"/api/v1/experiments/{experiment_id}/quote/pdf":{"get":{"tags":["experiments"],"summary":"Get experiment quote PDF","description":"Returns the quote as a PDF containing itemized pricing, terms, and\nexperiment configuration. Response content-type is `application/pdf`.","operationId":"get_quote_pdf","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Quote PDF stream","content":{"application/pdf":{}}},"400":{"description":"Unknown or inaccessible experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Caller does not have access to this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Quote not ready for this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/experiments/{experiment_id}/results":{"get":{"tags":["experiments"],"summary":"List results for an experiment","description":"Returns all analysis results associated with a specific experiment.\nResults appear when the experiment's `results_status` field reaches\n`Partial` or `All`. Supports pagination via `limit` and `offset` query\nparameters.\n\nUse this endpoint when you need results for a single experiment without\nfiltering the global `/results` list. The response includes the same\n`ResultInfo` structure as the global endpoint, scoped to the\nspecified experiment.","operationId":"get_experiment_results","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier (UUID)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Free-text search term applied to searchable columns.","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Results for the experiment","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"A completed experiment result: its summarized measurements and a link to the\nraw data.","required":["id","title","experiment_id","result_type","created_at","summary","metadata"],"properties":{"created_at":{"type":"string","format":"date-time","description":"When this result was generated (ISO 8601)."},"data_package_url":{"type":["string","null"],"description":"Download URL for the raw data package, the same one available in the\nFoundry portal. Omitted when no package is available."},"experiment_id":{"type":"string","format":"uuid","description":"Identifier of the experiment this result belongs to."},"id":{"type":"string","format":"uuid","description":"Identifier for this result."},"metadata":{"type":"object","description":"Additional metadata beyond the summary."},"result_type":{"type":"string","description":"Assay type for this result (e.g. \"affinity\", \"thermostability\")."},"summary":{"type":"array","items":{"$ref":"#/components/schemas/ResultSummary"},"description":"Per-readout measurements, each tagged by assay type."},"title":{"type":"string","description":"Human-readable title for this result."}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"400":{"description":"Invalid, unknown, or inaccessible experiment_id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/experiments/{experiment_id}/sequences":{"get":{"tags":["experiments"],"summary":"List sequences for an experiment","description":"Returns all sequences associated with a specific experiment. Results are sorted\nby creation date (newest first) and can be searched by name or amino acid content.\nSupports pagination via `limit` and `offset` query parameters.\n\nFor sequences from a single experiment without filtering the global\n`/sequences` list. Returns `SequenceListItem` records scoped to the\nspecified experiment.","operationId":"get_experiment_sequences","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier (UUID)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"search","in":"query","description":"Free-text search term applied to searchable columns.","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sequences for the experiment","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Sequence record returned by the list endpoint.\n\nIncludes a truncated preview and experiment reference; use the detail\nendpoint to retrieve the full amino acid string.","required":["id","length","experiment_id","experiment_code","is_control","created_at"],"properties":{"aa_preview":{"type":["string","null"],"description":"Truncated sequence preview (first 50 characters)"},"created_at":{"type":"string","format":"date-time","description":"When the sequence was created (experiment submission time)"},"experiment_code":{"type":"string","description":"Human-readable experiment code"},"experiment_id":{"type":"string","format":"uuid","description":"ID of the experiment containing this sequence"},"id":{"type":"string","format":"uuid","description":"Unique identifier for the sequence"},"is_control":{"type":"boolean","description":"Whether this sequence is marked as a control"},"length":{"type":"integer","format":"int32","description":"Full sequence length in amino acids","minimum":0},"name":{"type":["string","null"],"description":"Optional name assigned to the sequence"}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"400":{"description":"Invalid, unknown, or inaccessible experiment_id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/experiments/{experiment_id}/submit":{"post":{"tags":["experiments"],"summary":"Submit experiment","description":"Submits a draft experiment for review. Advances from Draft to\nWaitingForConfirmation by finalizing the Stripe quote. To accept an\nalready-submitted quote, use `POST /experiments/{id}/quote/confirm`.","operationId":"submit_experiment","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Experiment submitted for review","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExperimentConfirmationResponse"}}}},"400":{"description":"Unknown or inaccessible experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Caller does not have access to this experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Experiment cannot transition out of its current state. When a prior `POST /experiments` attempted to create a Stripe quote and Stripe rejected it, the response includes `error_kind` and `hint` fields identifying the failure class (e.g. `customer_quote_cap`). Otherwise those fields are omitted (legacy shape).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitConflictError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-required-action":"Update"}},"/api/v1/experiments/{experiment_id}/updates":{"get":{"tags":["experiments"],"summary":"List experiment updates","description":"Returns updates for one experiment, oldest first (chronological).\nUpdate types include `status_change`, `progress`, and `error`.\nFilter by type using `filter=eq(type,status_change)`.","operationId":"get_experiment_updates","parameters":[{"name":"experiment_id","in":"path","description":"Experiment identifier","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Experiment update list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Summary of a single update event","required":["id","experiment_id","experiment_code","name","timestamp"],"properties":{"experiment_code":{"type":"string","description":"Experiment code for grouping and display"},"experiment_id":{"type":"string","format":"uuid","description":"ID of the experiment that generated this update"},"id":{"type":"string","description":"Unique identifier for this update event (UUID)"},"name":{"type":"string","description":"Name/title of the update"},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when the update occurred"}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"400":{"description":"Unknown or inaccessible experiment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/feedback/submit":{"post":{"tags":["feedback"],"summary":"Submit feedback, bug reports, or feature requests","description":"Use this endpoint to give us feedback, report bugs that are not already caught by our\nobservability, or request features (or have your agents do it).\n\n# Request\n\nProvide:\n- `request_uuid`: The UUID from the problematic API request\n- `feedback_type`: `feature_request`, `feedback`, or `bug_report`\n- `title`: Optional short title (defaults to a timestamp + organization name)\n- At least one of (can provide both):\n  - `json_body`: Structured error details as JSON\n  - `human_note`: Free-form text description","operationId":"submit_feedback","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitFeedbackRequest"}}},"required":true},"responses":{"201":{"description":"Feedback submitted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitFeedbackResponse"}}}},"400":{"description":"Invalid request (neither json_body nor human_note provided)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/info/health":{"get":{"tags":["info"],"summary":"Liveness probe","description":"Returns 200 when the service is alive. No authentication required. No database interaction.","operationId":"health","responses":{"200":{"description":"Service is alive","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}}}}},"/api/v1/info/health-db":{"get":{"tags":["info"],"summary":"Database connectivity probe","description":"Verifies database connectivity by executing a trivial query. Returns 200 when the database is reachable, 503 when it is not.","operationId":"health_db","responses":{"200":{"description":"Database is connected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthDbResponse"}}}},"503":{"description":"Database is unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthDbResponse"}}}}}}},"/api/v1/quotes":{"get":{"tags":["quotes"],"summary":"List quotes","description":"Returns every quote recorded for the caller's organization. Use this list\nto monitor pending proposals, track which quotes have already been accepted\nor expired, and review pricing history before moving to the detail or\nacceptance endpoints.","operationId":"list_quotes","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Quote list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Quote record returned by the list endpoint.\n\nRepresents a formal price proposal for an experiment.","required":["id","quote_number","organization_id","amount_cents","currency","status","valid_until","created_at","stripe_quote_url"],"properties":{"amount_cents":{"type":"integer","format":"int64","description":"Total quoted amount in smallest currency unit (cents)"},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when quote was created"},"currency":{"type":"string","description":"ISO 4217 currency code (e.g., \"USD\", \"EUR\", \"GBP\")"},"id":{"type":"string","description":"Unique quote identifier (format: \"qt-YYYY-XXX\")"},"organization_id":{"type":"string","format":"uuid","description":"Organization ID that this quote is prepared for"},"quote_number":{"type":"string","description":"Human-readable quote number for reference"},"status":{"$ref":"#/components/schemas/StripeQuoteStatus","description":"Current quote status from Stripe"},"stripe_quote_url":{"type":"string","description":"Quote reference URL (may require provider account access).","example":"https://billing.example.com/quotes/qt_1234567890"},"valid_until":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when the quote expires"}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions to view quotes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/quotes/{quote_id}":{"get":{"tags":["quotes"],"summary":"Get quote","description":"Returns the full quote document with itemized pricing, totals, expiration,\nand status, combined with experiment metadata (org name, notes).","operationId":"get_quote_info","parameters":[{"name":"quote_id","in":"path","description":"Unique identifier of the quote to retrieve","required":true,"schema":{"type":"string"},"example":"qt_1Abc2DefGhi"}],"responses":{"200":{"description":"Quote details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteInfo"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions to view this quote","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Quote not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/quotes/{quote_id}/confirm":{"post":{"tags":["quotes"],"summary":"Accept quote","description":"Finalizes and accepts a Stripe quote, creating a draft invoice. The\nlinked experiment advances to `WaitingForMaterials`. Optionally attach\na purchase order number for your records.\n\nThe quote must be in a confirmable state (\"Waiting for confirmation\" or\n\"Quote sent\") and must not already have an invoice. Expired quotes\nreturn 409.","operationId":"confirm_quote","parameters":[{"name":"quote_id","in":"path","description":"Unique identifier of the quote to accept","required":true,"schema":{"type":"string"},"example":"qt_1Abc2DefGhi"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmQuoteRequest"}}},"required":true},"responses":{"200":{"description":"Quote successfully accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmQuoteResponse"}}}},"403":{"description":"Insufficient permissions to accept this quote","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Quote not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Quote cannot be accepted (wrong status or already accepted)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-required-action":"Update"}},"/api/v1/quotes/{quote_id}/reject":{"post":{"tags":["quotes"],"summary":"Reject quote","description":"Cancels the quote on Stripe and records the rejection reason and\noptional feedback in the database. The linked experiment reverts to\n`Draft` so it can be modified and re-submitted.","operationId":"reject_quote","parameters":[{"name":"quote_id","in":"path","description":"Unique identifier of the quote to reject","required":true,"schema":{"type":"string"},"example":"qt_1Abc2DefGhi"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectQuoteRequest"}}},"required":true},"responses":{"200":{"description":"Quote successfully rejected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectQuoteResponse"}}}},"403":{"description":"Insufficient permissions to reject this quote","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Quote not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Quote cannot be rejected (wrong status or already has invoice)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-required-action":"Update"}},"/api/v1/results":{"get":{"tags":["results"],"summary":"List results","description":"Lists completed analysis results, sorted by creation date (newest first).\nResults appear when an experiment's `results_status` field reaches\n`Partial` or `All`. Paginate with `limit` (default 50) and `offset`;\nthe response includes `total` for page calculation.\n\nEach result includes its full `summary` (kinetics for BLI, readouts for\nthermostability) and `metadata`, matching the detail endpoint shape.\nSupports filtering on result fields; invalid filter fields return 400.","operationId":"list_results","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Free-text search term applied to searchable columns.","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Result list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"A completed experiment result: its summarized measurements and a link to the\nraw data.","required":["id","title","experiment_id","result_type","created_at","summary","metadata"],"properties":{"created_at":{"type":"string","format":"date-time","description":"When this result was generated (ISO 8601)."},"data_package_url":{"type":["string","null"],"description":"Download URL for the raw data package, the same one available in the\nFoundry portal. Omitted when no package is available."},"experiment_id":{"type":"string","format":"uuid","description":"Identifier of the experiment this result belongs to."},"id":{"type":"string","format":"uuid","description":"Identifier for this result."},"metadata":{"type":"object","description":"Additional metadata beyond the summary."},"result_type":{"type":"string","description":"Assay type for this result (e.g. \"affinity\", \"thermostability\")."},"summary":{"type":"array","items":{"$ref":"#/components/schemas/ResultSummary"},"description":"Per-readout measurements, each tagged by assay type."},"title":{"type":"string","description":"Human-readable title for this result."}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/results/{result_id}":{"get":{"tags":["results"],"summary":"Get result","description":"Returns a single result with its full `summary`: mean kinetics and the\nper-replicate measurements for an affinity result, or the per-sample\nmelting readouts for a thermostability result. The `data_package_url`\nfield links to the raw data package, the same one available in the\nFoundry portal.","operationId":"get_result_info","parameters":[{"name":"result_id","in":"path","description":"Unique result identifier","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Result details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultInfo"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Result not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/sequences":{"get":{"tags":["sequences"],"summary":"List sequences","description":"Returns sequences from all experiments the caller has access to. Results\nare sorted by creation date (newest first). Filter by `experiment_id` to\nretrieve sequences for a specific experiment, or use `search` to match\nagainst sequence names or amino acid content.","operationId":"list_sequences","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"search","in":"query","description":"Free-text search term applied to searchable columns.","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}},{"name":"experiment_id","in":"query","description":"Filter by experiment UUID","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sequence list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Sequence record returned by the list endpoint.\n\nIncludes a truncated preview and experiment reference; use the detail\nendpoint to retrieve the full amino acid string.","required":["id","length","experiment_id","experiment_code","is_control","created_at"],"properties":{"aa_preview":{"type":["string","null"],"description":"Truncated sequence preview (first 50 characters)"},"created_at":{"type":"string","format":"date-time","description":"When the sequence was created (experiment submission time)"},"experiment_code":{"type":"string","description":"Human-readable experiment code"},"experiment_id":{"type":"string","format":"uuid","description":"ID of the experiment containing this sequence"},"id":{"type":"string","format":"uuid","description":"Unique identifier for the sequence"},"is_control":{"type":"boolean","description":"Whether this sequence is marked as a control"},"length":{"type":"integer","format":"int32","description":"Full sequence length in amino acids","minimum":0},"name":{"type":["string","null"],"description":"Optional name assigned to the sequence"}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions to view sequences","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["sequences"],"summary":"Add sequences to experiment","description":"Appends sequences to a draft experiment identified by its human-readable code\n(e.g., \"PROJ-001\"). The experiment must be in Draft status; confirmed or later-stage\nexperiments cannot accept new sequences. Create a new experiment to submit\nadditional sequences if the original has progressed past draft.","operationId":"add_sequences","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SequenceAddRequest"}}},"required":true},"responses":{"201":{"description":"Sequences added","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SequenceAddResponse"}}}},"400":{"description":"Invalid request (empty sequences array or malformed data)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Experiment not found or access denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Experiment is not in Draft status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/sequences/{sequence_id}":{"get":{"tags":["sequences"],"summary":"Get sequence","description":"Returns full details for a specific sequence including the complete amino\nacid string, metadata, and a reference to the containing experiment.","operationId":"get_sequence_info","parameters":[{"name":"sequence_id","in":"path","description":"Unique identifier of the sequence","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Sequence details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SequenceInfo"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions to view this sequence","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Sequence not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/targets":{"get":{"tags":["targets"],"summary":"List targets","description":"Lists validated antigens available for experiments. Each entry includes\nvendor and catalog identifiers, plus `pricing` where self-service pricing\nis available.\n\n**Pricing:** Targets with `pricing` support instant cost estimation via\n`/experiments/cost-estimate`. Targets without this field require a custom\nquote — contact support for pricing on these targets.\n\nUse `selfservice_only=true` to filter to only targets with pricing configured.\nSearch by product name with `search` (case-insensitive substring). Filter and\nsort by `name`, `vendor_name`, `catalog_number`, or `purity` via the\n`filter` and `sort` parameters (e.g. `?filter=gte(purity,90)&sort=-name`).\nPaginate with `limit` (default 50, max 100) and `offset` (default 0); the response\nincludes `total` for computing remaining pages. Pass the returned `id` as\n`experiment_spec.target_id` when creating experiments.","operationId":"list_targets","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"search","in":"query","description":"Free-text search term applied to searchable columns.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}},{"name":"selfservice_only","in":"query","description":"When true, returns only targets with self-service pricing configured.\nTargets without pricing require a custom quote flow.","required":false,"schema":{"type":"boolean"}},{"name":"show_conjugated","in":"query","description":"When true, includes conjugated targets (biotinylated, fluorophore-labeled,\netc.) in results. By default, only unconjugated targets are returned.","required":false,"schema":{"type":"boolean"}},{"name":"detailed","in":"query","description":"When true, populates the `details` block on each target with\nenrichment data (gene names, structures, sequence, bioactivity, etc.).\nDefaults to false for lightweight listing.","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Target list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Target catalog entry. Used by both list and detail endpoints.\n\nThe list endpoint returns this with `details` omitted (or populated when\n`?detailed=true`). The detail endpoint always populates `details`.","required":["id","name","vendor_name","catalog_number","url"],"properties":{"catalog_number":{"type":"string","description":"Vendor's catalog/SKU number"},"details":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/TargetDetails","description":"Detailed target data. Populated on the detail endpoint and on the\nlist endpoint when `?detailed=true` is passed."}]},"id":{"type":"string","format":"uuid","description":"Unique identifier for the target from the catalog"},"name":{"type":"string","description":"Product name of the target antigen"},"pricing":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/TargetPricing","description":"Material pricing for this target, if self-service pricing is available.\nWhen absent, this target requires a custom quote.\n\nThe `type` field discriminates the pricing model:\n- `per_sequence`: fixed cost per sequence\n- `per_broken_lot`: customer pays for the full vendor lot"}]},"uniprot_id":{"type":["string","null"],"description":"UniProt accession for the primary protein component.\nPresent on ~82% of targets; viral/non-standard proteins lack this\n(they have `details.ncbi_id` instead).","example":"Q15116"},"url":{"type":"string","description":"URL to view this target in the catalog web UI","example":"https://targets.adaptyvbio.com/protein/f3b2afd0-f70b-5191-a90a-ae1e0545c744"},"vendor_name":{"type":"string","description":"Vendor/supplier name (e.g., \"ACRO Biosystems\")"}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/targets/request-custom":{"get":{"tags":["targets"],"summary":"List custom target requests","description":"Returns custom target requests for your organization, sorted by creation\ndate (newest first). Supports filtering by status using the `filter`\nparameter (e.g. `filter=eq(status,pending_review)`) and pagination.","operationId":"list_custom_target_requests","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Custom target request list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Summary information for a custom target request in list views.","required":["id","name","product_id","status","created_at"],"properties":{"created_at":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when the request was created"},"id":{"type":"string","format":"uuid","description":"Unique identifier for the request"},"name":{"type":"string","description":"Display name of the target"},"product_id":{"type":"string","description":"User-provided product identifier"},"status":{"$ref":"#/components/schemas/CustomTargetRequestStatus","description":"Current review status"}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["targets"],"summary":"Submit custom target request","description":"Submit a new custom target (antigen) for staff review. At least one of\n`sequence` or `pdb_id` must be provided. The `product_id` must be unique\nwithin your organization.\n\nNew requests are created with `pending_review` status. Staff will review\nand approve or reject the request. Approved targets receive a `material_id`\nlinking them to the catalog.","operationId":"create_custom_target_request","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomTargetRequest"}}},"required":true},"responses":{"201":{"description":"Request submitted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomTargetResponse"}}}},"400":{"description":"Validation failed (missing sequence/pdb, invalid sequence format, duplicate product_id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/targets/request-custom/{request_id}":{"get":{"tags":["targets"],"summary":"Get custom target request","description":"Retrieves full details of a custom target request, including sequence data,\nPDB information, and metadata. Returns 404 if the request doesn't exist\nor belongs to a different organization.","operationId":"get_custom_target_request","parameters":[{"name":"request_id","in":"path","description":"Unique identifier of the custom target request","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Custom target request details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomTargetRequestInfo"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/targets/{target_id}":{"get":{"tags":["targets"],"summary":"Get target","description":"Returns the catalog record for a single target by UUID.\n\nRetrieves target details including vendor name, catalog number, and\n`pricing` where self-service pricing is available.\n\n**Pricing:** Targets with `pricing` support instant cost estimation via\n`/experiments/cost-estimate`. Targets without this field require a custom\nquote — contact support for pricing on these targets.\n\nReturns 404 if the target doesn't exist.","operationId":"get_target_info","parameters":[{"name":"target_id","in":"path","description":"Unique identifier of the target to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Target details retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TargetInfo"}}}},"400":{"description":"Invalid target_id format (not a UUID)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Target not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/tokens":{"get":{"tags":["tokens"],"summary":"List tokens","description":"Returns a flat, paginated list of all tokens (root and attenuated) the\ncaller owns. Each item carries lineage fields (`parent_token_id`,\n`root_token_id`, `kind`) so callers can reconstruct the derivation tree.\nAdmins with global scope see all tokens across all users.","operationId":"list_tokens","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Token list with lineage","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Unified token record returned by the list endpoint, covering both root\ntokens and their attenuated derivatives. Lineage fields (`parent_token_id`,\n`root_token_id`) allow callers to reconstruct the derivation tree.","required":["id","name","kind","created_at"],"properties":{"attenuation_spec":{"description":"Attenuation restrictions applied to this token. Null for root tokens."},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when the token was created."},"expires_at":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp when the token expires. Null means no expiration."},"id":{"type":"string","description":"Token identifier: the root's `token_id` fact for root tokens, or the\n`attenuated_tokens.id` primary key for attenuated tokens."},"kind":{"type":"string","description":"Discriminator: `\"root\"` for tokens in `api_tokens`, `\"attenuated\"` for\ntokens in `attenuated_tokens`.","example":"root"},"name":{"type":"string","description":"Human-readable label."},"parent_token_id":{"type":["string","null"],"description":"Immediate parent in the derivation chain. Null for root tokens."},"revoked_at":{"type":["string","null"],"format":"date-time","description":"ISO 8601 timestamp when the token was revoked. Null if still active."},"root_token_id":{"type":["string","null"],"description":"The family root's `token_id`. Null for root tokens themselves."},"token_type":{"type":["string","null"],"description":"Token variant (only for root tokens): `admin`, `user`,\n`admin_impersonating`, `multi_org`. Null for attenuated tokens."}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/tokens/attenuate":{"post":{"tags":["tokens"],"summary":"Attenuate token","description":"Add restrictions to an existing token without needing the private key.\n\nAttenuation is a Biscuit cryptographic feature that allows anyone holding\na token to add restriction blocks. The resulting token can only do a\nsubset of what the original token could do—restrictions cannot be removed.\n\n# Security Model\n\nThis endpoint requires the `token:read` capability.\n\n1. **Cryptographic guarantee**: Attenuation can only *reduce* permissions,\n   never expand them. The Biscuit format ensures restriction blocks are\n   append-only and cannot be removed without invalidating the signature.\n\n2. **Self-service by design**: Users can only attenuate tokens they already\n   possess. If you have a token, you can create a weaker version of it—this\n   is analogous to being able to share read-only access to something you own.\n\n3. **No privilege escalation**: The attenuated token inherits all existing\n   restrictions from the source token, plus any new ones added. A read-only\n   token cannot be attenuated into a read-write token.\n\n# Use Cases\n\n- Create a read-only version of your token for delegation\n- Restrict a token to specific resources or actions\n- Generate time-limited tokens for external services\n- Scope a broad token down to a single organization or project\n\n# Timezone\n\nAll timestamps use UTC in ISO 8601 / RFC 3339 format.\n\n# Further Reading\n\nFor the cryptographic properties of token attenuation, see the\n[Biscuit documentation](https://doc.biscuitsec.org/).","operationId":"attenuate_token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttenuateTokenRequest"}}},"required":true},"responses":{"201":{"description":"Token attenuated and persisted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttenuateTokenResponse"}}}},"400":{"description":"Invalid token format or attenuation spec","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-required-action":"Read"}},"/api/v1/tokens/revoke":{"post":{"tags":["tokens"],"summary":"Revoke the calling token and its entire lineage","description":"Revokes the root token used to authenticate this request and all of its\nattenuated descendants, making the entire token family invalid for future\nAPI calls.\n\n**Idempotent**: If the token family is already revoked, returns the\noriginal revocation timestamp and `children_revoked: 0`.\n\n**Requires token:revoke capability.**","operationId":"revoke_token","responses":{"200":{"description":"Token family revoked successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevokeTokenResponse"}}}},"403":{"description":"Insufficient permissions - token:revoke capability required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Token not found in database (stateless token)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/updates":{"get":{"tags":["updates"],"summary":"List updates","description":"Returns the experiment update feed, newest first: status changes,\nprogress markers, and completion events. Use `limit` and `offset`\nquery parameters for pagination. Filter by experiment or type using\nthe `filter` parameter, e.g. `filter=eq(experiment_id,<uuid>)` or\n`filter=in(experiment_id,uuid1,uuid2)` or `filter=eq(type,status_change)`.","operationId":"list_updates","parameters":[{"name":"limit","in":"query","description":"Maximum number of items to return (1-100, default 50).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"offset","in":"query","description":"Number of items to skip (default 0).","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filter","in":"query","description":"Filter expression in s-expression syntax.\n\n**Comparison:** `eq(field,value)`, `neq(field,value)`, `gt(field,value)`,\n`lt(field,value)`, `gte(field,value)`, `lte(field,value)`,\n`contains(field,substring)`\n\n**Range/set:** `between(field,lo,hi)`, `in(field,v1,v2,...)`\n\n**Logical:** `and(expr1,expr2,...)`, `or(expr1,expr2,...)`, `not(expr)`\n\n**Null checks:** `is_null(field)`, `is_not_null(field)`\n\n**JSONB access:** `at(field,key)` — e.g. `eq(at(metadata,score),42)`\n\n**Cast functions:** `float(expr)`, `int(expr)`, `text(expr)`,\n`timestamp(expr)`, `date(expr)`\n\nExample: `and(gte(created_at,2026-01-01),eq(status,draft))`","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"Sort expression. Supports multi-column sort (comma-separated, up to 8),\nJSONB path access, and type casts.\n\nThree accepted surface forms produce the same ordering:\n\n- **Canonical** — `desc(field)` / `asc(field)`; also wraps casts and\n  `at(...)` JSONB path access. Example: `asc(date(at(metadata,start_date)))`.\n- **Prefix short form** — `-field` (descending), `+field` or bare\n  `field` (ascending). GitHub / Stripe / Jira convention. Bare field\n  only; no casts.\n- **Suffix short form** — `field:asc` / `field:desc`. Also bare field.\n\nExamples: `-created_at`, `-created_at,+name`, `created_at:desc`,\n`desc(created_at),asc(name)`, `asc(at(metadata,score))`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Update list","content":{"application/json":{"schema":{"type":"object","description":"Paginated list response with offset-based navigation metadata.\n\nAll list endpoints return this shape. Use `offset` and `limit` query\nparameters to page through results; `total` reports how many items\nmatch the query across all pages.","required":["items","total","count","offset"],"properties":{"count":{"type":"integer","format":"int64","description":"Number of items in this response."},"items":{"type":"array","items":{"type":"object","description":"Summary of a single update event","required":["id","experiment_id","experiment_code","name","timestamp"],"properties":{"experiment_code":{"type":"string","description":"Experiment code for grouping and display"},"experiment_id":{"type":"string","format":"uuid","description":"ID of the experiment that generated this update"},"id":{"type":"string","description":"Unique identifier for this update event (UUID)"},"name":{"type":"string","description":"Name/title of the update"},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp when the update occurred"}}},"description":"The page of results."},"offset":{"type":"integer","format":"int64","description":"Offset used for this page (mirrors the `offset` query parameter)."},"total":{"type":"integer","format":"int64","description":"Total number of items matching the query (across all pages)."}}}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/whoami":{"get":{"tags":["whoami"],"summary":"Who am I","description":"Identify yourself from your API token. Returns the organizations your token\ncan access — with the organization you are currently acting as marked\n`active: true` — along with your user id, the permissions your token grants,\nand when the token expires.\n\nThis is a safe, read-only call: it does not create or change anything. Use\nit to look up your organization's name and id (needed by other endpoints)\nor to check what your token is allowed to do.","operationId":"whoami","responses":{"200":{"description":"Caller identity and access summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WhoAmIResponse"}}}},"401":{"description":"Invalid or missing authentication token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-required-action":"Read"}}},"components":{"schemas":{"AAString":{"type":"string","description":"A validated amino acid sequence string.\n\nContains only the 20 natural amino acids (single-letter codes: A, C, D, E,\nF, G, H, I, K, L, M, N, P, Q, R, S, T, V, W, Y) and colons for multichain\nnotation. Input is case-insensitive; stored uppercase.\n\nMultichain sequences use colon separators (e.g., `MVLS:EVQL` for a\ntwo-chain construct). Invalid characters or empty strings are rejected.","example":"EVQLVESGGGLVQPGGSLRLSCAAS"},"AffinityReplicate":{"type":"object","description":"One replicate of a binding-kinetics measurement for an antibody–antigen pair.\n\nAn affinity result aggregates one or more replicates; each carries its own\nfitted kinetics and the model used to fit them.","required":["replicate"],"properties":{"binding":{"type":["string","null"],"description":"Categorical binding outcome for this replicate (\"true\", \"false\",\n\"unknown\", \"in_progress\")."},"binding_strength":{"type":["string","null"],"description":"Qualitative binding call for this replicate (e.g. \"strong\", \"medium\",\n\"weak\", \"none\", \"in_progress\")."},"confidence":{"type":["string","null"],"description":"Confidence grade for the fit. Omitted when the binding call is unknown."},"expression":{"type":["string","null"],"description":"Expression level for the construct in this replicate (e.g. \"high\",\n\"medium\", \"low\")."},"fit_quality":{"type":["string","null"],"description":"Overall fit quality, one of \"good\" / \"medium\" / \"poor\".","example":"good"},"kd":{"type":["number","null"],"format":"double","description":"Equilibrium dissociation constant (M). Omitted when not measurable."},"kd_app":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/KineticInterval","description":"Apparent KD (M), comparable across binding models, with its 95% CI."}]},"koff":{"type":["number","null"],"format":"double","description":"Dissociation rate constant (s⁻¹). Omitted when not measurable."},"koff_1to1":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/KineticInterval","description":"Dissociation rate (s⁻¹) from the 1:1 (standard) model, with its 95% CI."}]},"koff_method":{"type":["string","null"],"description":"Fitting model used for the koff fit (e.g. \"1:1\", \"2:1\")."},"kon":{"type":["number","null"],"format":"double","description":"Association rate constant (M⁻¹s⁻¹). Omitted when not measurable."},"kon_1to1":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/KineticInterval","description":"Association rate (M⁻¹s⁻¹) from the 1:1 (standard) model, with its 95% CI."}]},"kon_method":{"type":["string","null"],"description":"Fitting model used for the kon fit (e.g. \"1:1\", \"2:1\")."},"method":{"type":["string","null"],"description":"Fitting model used for this replicate (e.g. \"1:1\", \"2:1\")."},"replicate":{"type":"integer","format":"int64","description":"Replicate number, starting at 1."},"rmse_max_signal_pct":{"type":["number","null"],"format":"double","description":"RMSE divided by the maximum measured signal, expressed as a percentage.","example":1.2}}},"AffinityResult":{"type":"object","description":"Aggregated binding results for a single antibody–antigen pair.\n\nReports mean kinetics (KD, kon, koff) across the replicates alongside an\noverall binding call and the individual per-replicate measurements.","required":["sequence","kd_units","binding_strength","positive_control","performance","replicates"],"properties":{"binding":{"type":["string","null"],"description":"Overall binding outcome, rolled up from the replicates (\"true\", \"false\",\n\"unknown\", \"in_progress\")."},"binding_model":{"type":["array","null"],"items":{"type":"string"},"description":"The selected binding model(s), e.g. `[\"standard\"]`, `[\"bivalent_analyte\"]`,\n`[\"conformational\"]`. Populated only for results carrying the v1 payload.","example":["standard"]},"binding_strength":{"type":"string","description":"Overall binding call, rolled up from the replicates (e.g. \"strong\",\n\"medium\", \"weak\", \"none\", \"unknown\")."},"concentration_display":{"type":["string","null"],"description":"Expression concentration for display, in nM (e.g. \"12.3\", \"<5.0\", \">100\")."},"concentration_value":{"type":["number","null"],"format":"double","description":"Expression concentration as a number, in nM, when a point estimate is\navailable."},"expression":{"type":["string","null"],"description":"Expression level for the construct (e.g. \"high\", \"medium\", \"low\")."},"fit_quality":{"type":["string","null"],"description":"Overall fit quality, one of \"good\" / \"medium\" / \"poor\".","example":"good"},"kd_app":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/KineticInterval","description":"Apparent KD (M), comparable across binding models, with its 95% CI."}]},"kd_log_std":{"type":["number","null"],"format":"double","description":"Log-scale standard deviation of KD across the replicates."},"kd_mean":{"type":["number","null"],"format":"double",
[...]
